@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F0F2;
}

.navegador .logo{
    width: 160px;
    height: 160px;
}

.navegador{
    background-color: #F1F0F2;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-decoration: none;
}


/* Ajusta el margen derecho de los elementos de navegación para moverlos más cerca del logo */
.navegador .nav-link {
    margin-right: 50px; /* Puedes ajustar este valor según tus necesidades */
}

/* Opcionalmente, puedes ajustar el margen izquierdo de los elementos de la parte derecha para mantener un espaciado uniforme */
.navegador .nav-link {
    margin-left: 50px; /* Puedes ajustar este valor según tus necesidades */
}

@media(max-width:990px){
    .navegador .nav-link{
        margin-left: 20px;
        margin-top: 30px;
    }
    .navegador .logo{
        width: 100px;
        height: 100px;
    }
}

.img-carrusel{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/*NOSOTROS*/

.center-image {
    display: block;
    margin: 0 auto; /* Esto centra horizontalmente la imagen */
  }